/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #outer-box {
    width: 350px;
  }
  #message-box {
    height: 280px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #outer-box {
    width: 500px;
  }
  #message-box {
    height: 280px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #outer-box {
    width: 550px;
  }
  #message-box {
    height: 380px;
  }
}
